@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

:root {
  --main-color: #9333ea;
  --text-color: #6b7280;
  --second-text-color: #555;
  --white-color: #fff;
  --cover-color: linear-gradient(45deg, #a855f7, #dee6ff);
  --pages-color: linear-gradient(90deg, #fff, #ddd);
  --border: .125rem solid #8c27eb;
  --box-shadow: 0 0 .6rem rgba(0, 0, 0, .2);
  --first-color: #1f2937;
  --dark-color:  #a0ccd5;
  --dark-color-lighten: #dee6ff;
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.1rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

body{
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}


.wrapper {
  position:absolute;
  width: 94rem;
  height: 40rem;
  padding: 2rem;
  perspective: 250rem;
  animation: show-animate 2s forwards;
}

.cover {
  position: absolute;
  top:0;
  left: 0;
  width: 50%;
  height: 100%;
  background: var(--cover-color);
  box-shadow:var(--box-shadow) ;
  border-top-left-radius: .6rem;
  border-bottom-left-radius: .6rem;
  transform-origin: right;
}

.cover.cover-left {
  z-index: -1;
}

.cover.cover-right {
  z-index: 100;
  transition: transform 1s cubic-bezier(.645, .045, .355,1);
}

.cover.cover-right.turn {
  transform: rotateY(180deg);
}

.book {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  perspective: 250rem;
}

.book .book-page {
  position: absolute;
  width: 50%;
  height: 100%;
  background: var(--pages-color);
  box-shadow: 0 0 .6rem rgba(0, 0, 0, .1);
  display: flex;
  padding: 2rem;
}

 .book-page.page-left {
  box-shadow: -.6rem .6rem .6rem rgba(0, 0, 0, .1);
 }

.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-page img {
  max-width: 180px;
  border-radius: 50%;
  border: .25rem solid var(--main-color);
  margin-bottom: .8rem;
}

.profile-page h1 {
font-size: 2.7rem;
line-height: 1;
}

.profile-page h3{
  font-size: 1.5rem;
  color: var(--main-color)
}

.profile-page .social-media{
  margin: .6rem 0 .8rem;
}

.profile-page .social-media a {
display: inline-flex;
justify-content: center;
align-items: center;
width: 2.5rem;
height: 2.5rem;
background: transparent;
border: var(--border);
border-radius: 50%;
font-size: 1.3rem;
color: var(--main-color);
margin:0.2rem ;
transition: .5s;
}

.profile-page .social-media a:hover {
  background: var(--main-color);
  color: var(--white-color);
}

.profile-page p {
  text-align: justify;
}

.profile-page .btn-box {
margin-top: 1.2rem;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 9.5rem;
  height: 3rem;
  background: var(--main-color);
  border: var(--border);
  border-radius: .3rem;
  font-size: 1rem;
  color: var(--white-color);
  font-weight: 500;
  margin: 0 1rem;
  transition: .5s;
}

.btn:hover {
  background: transparent;
  color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
  background: var(--main-color);
  color: var(--white-color);
}

.book-page.page-right {
  position: absolute;
  right: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: transform 1s cubic-bezier(.645, .045, .355,1);
}

.book-page.page-right.turn {
  transform: rotateY(-180deg)
}

.book-page .page-front,
.book-page .page-back {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: var(--pages-color);
  padding: 1.5rem 2rem;
}

.book-page .page-front {
  transform: rotateY(0deg) translatez(1px);
}

.book-page .page-back {
  transform: rotateY(180deg) translatez(1px);
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}

.workeduc-box {
  border-left: var(--border);
}

.workeduc-box .workeduc-content{
  position: relative;
  padding-left: 1.6rem;
  margin-bottom: 1.2rem;
}

.workeduc-box .workeduc-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: -0.65rem;
  width: 1.2rem;
  height: 1.2rem;
  background: var(--main-color);
  border-radius: 50%;
}

.workeduc-content .year {
  color: var(--main-color);
}

.workeduc-content .year {
  margin-right: .4rem;
}


.number-page {
  position: absolute;
  bottom: 1.2rem;
  left: 50%;
  transform: translateX(-50%);
}

.nextprev-btn {
  position:absolute;
  bottom: .9rem;
  right: 1.5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  font-size: 2rem;
  color: var(--second-text-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.nextprev-btn:hover {
  color: var(--main-color);
}

.nextprev-btn.back{
  left: 1.5rem;
}

.portfolio-box .img-box {
  display: flex;
  width: 100%;
  height: 15rem;
  border: var(--border);
  border-radius: .5rem; 
  overflow: hidden;
}

.portfolio-box .img-box img {
  width: 100%;
  object-fit: cover;
  transition: 3s ease;
}

.portfolio-box .img-box:hover img {
  transform: scale(1.1);
} 

.portfolio-box .info-box .info-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.portfolio-box .info-box .info-title h3 {
  font-size: 1.3rem;
}

.portfolio-box .info-box .info-title a {
  display: flex;
  align-items: center;
  color: var(--main-color);
}

.portfolio-box .info-box .info-title a i {
  margin-left: .3rem;
}

.portfolio-box .info-box p:nth-of-type(1) {
  font-weight: 600;
}

.portfolio-box .btn-box {
  display: flex;
  justify-content: center;
}

.portfolio-box .btn-box .btn {
  margin: 0 1.15rem;
}


/*===== CARD =====*/

.container {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--dark-color-lighten); */
}

.card {
  width: 380px;
  height: 420px;
  background-color: var(--dark-color);
  border-radius: 1rem;
  padding: 4rem 2rem 0;
  color: var(--white-color);
  overflow-y: hidden;
}

.card__img {
  position: absolute;
  width: 260px;
  filter: drop-shadow(5px 10px 15px rgba(8,9,13,.4));
}

.card__data {
  transform: translateY(13.2rem);
  text-align: center;
}

.card__title {
  font-size: var(--h1-font-size);
  color: #000000;
  margin-bottom: .5rem;
}

.card__preci {
  display: inline-block;
  font-size: var(--h2-font-size);
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.card__description {
  font-size: var(--small-font-size);
  text-align: initial;
  margin-bottom: 1.25rem;
  opacity: 0;
  color: #000000;
}

.card__img, 
.card__data, 
.card__title, 
.card__preci, 
.card__description {
  transition: .5s;
}

/* Hover card effect */
.card:hover .card__img {
  transform: translate(-1rem, -9.5rem) rotate(-20deg);
}

.card:hover .card__data {
  transform: translateY(4.8rem);
}

.card:hover .card__title {
  transform: translateX(-2.3rem);
  margin-bottom: 0;
}

.card:hover .card__preci {
  transform: translateX(-2.3rem);
}

.card:hover .card__description {
  transition-delay: .2s;
  opacity: 1;
}

.portfolio-box1 .info-box1 .info-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.aboutme-box .info-box1 .info-title h3 {
  font-size: 1.3rem;
}

.aboutme-box .info-box1 .info-title a {
  display: flex;
  align-items: center;
  color: var(--main-color);
}

.aboutme-box .info-box1 .info-title a i {
  margin-left: .3rem;
}

.aboutme-box .info-box1 p:nth-of-type(1) {
  font-weight: 600;
}

.aboutme-box .info-box1 {
  background-image: url(img/aboutme.png);
  background-position: center;
  background-size: cover; 
  
}

 
.contact-box{
  text-align: center;
}

.contact-box .field {
  width: 100%;
  background: transparent;
  border: var(--border);
  border-radius: 1rem;
  padding: .8rem;
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.contact-box .field::placeholder {
  color: var(--text-color);
}

.contact-box textarea {
  resize: none;
  height: 10rem;
}

.contact-box .btn {
  cursor: pointer;
}

.back-profile {
  position: absolute;
  bottom: 1.2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: var(--border);
  border-radius: .3rem;
  font-size: 1.1rem;
  color: var(--main-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.back-profile:hover {
  background: var(--main-color);
  color: var(--white-color);
}

.back-profile p {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(.5);
  font-size: 1rem;
  color: var(--main-color);
  opacity: 0;
  transition: .5s;
}

.back-profile:hover p {
opacity: 1;
transform: translateX(-50%) scale(1);
top: -1.8rem;
}



nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title1 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title1 span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.hire__me {
  background-color: var(--primary-color);
  color: #ffffff;
}

.hire__me:hover {
  background-color: var(--primary-color-dark);
}

.portfolio {
  color: var(--primary-color);
}

.portfolio:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}



@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }
}
